In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.rc('figure', figsize = (10,6))

# Series

Why need Series when we have Python lists and np.arrays?

In [2]:
l = ['Huey', 'Dewey', 'Louie']
l

['Huey', 'Dewey', 'Louie']

In [3]:
l = list(range(7))
l

[0, 1, 2, 3, 4, 5, 6]

In [4]:
np.random.randn(5)

array([-0.66414338,  0.62939266,  0.59522564, -0.5260135 ,  1.86136664])

In [5]:
labels = ['a', 'b', 'c', 'd', 'e']
s = pd.Series(np.random.randn(5), index = labels)
s

a   -1.099228
b   -0.426328
c   -0.420120
d    0.692236
e   -0.297946
dtype: float64

In [6]:
type(s)

pandas.core.series.Series

In [7]:
'd' in s

True

In [8]:
d = {'b':s['b'], 'd':s['d'], 'e':s['e'], 'c':s['c'], 'a':s['a'], }

In [9]:
d

{'b': -0.42632768376617314,
 'd': 0.6922361750886928,
 'e': -0.2979461394436114,
 'c': -0.4201197508055211,
 'a': -1.099227887239103}

In [10]:
type(d)

dict

In [11]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [12]:
d['c']  # dict

-0.4201197508055211

In [13]:
s['c']  # Series

-0.4201197508055211

In [14]:
s

a   -1.099228
b   -0.426328
c   -0.420120
d    0.692236
e   -0.297946
dtype: float64

In [15]:
s['d']

0.6922361750886928

In [16]:
mapping = s.to_dict()
mapping

{'a': -1.099227887239103,
 'b': -0.42632768376617314,
 'c': -0.4201197508055211,
 'd': 0.6922361750886928,
 'e': -0.2979461394436114}

created s with 2 arrays but if you have a dict can create one this way

In [17]:
s = pd.Series(d)
s

b   -0.426328
d    0.692236
e   -0.297946
c   -0.420120
a   -1.099228
dtype: float64

at creation, labels are sorted but if you don't want that order can specify

In [32]:
s = pd.Series(mapping, index=['b','d', 'e', 'a', 'f'])
s

b   -0.426328
d    0.692236
e   -0.297946
a   -1.099228
f         NaN
dtype: float64

In [314]:
s.to_csv('test.csv')

In [315]:
v = pd.Series.from_csv('test.csv')  # how to read in Series if this is deprecated?

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/pandas/core/series.py:2849: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  infer_datetime_format=infer_datetime_format)

In [316]:
type(v)

pandas.core.series.Series

In [19]:
u = pd.read_csv('test.csv', index_col=0, header=None, squeeze=True)  # squeeze makes Series if only 1 column

In [20]:
type(u)

pandas.core.series.Series

In [21]:
u

0
b   -0.746683
d    0.604748
e   -0.793416
a   -0.728727
f         NaN
Name: 1, dtype: float64

In [22]:
u.index

Index(['b', 'd', 'e', 'a', 'f'], dtype='object', name=0)

In [33]:
s.to_csv('test2_withHeader.csv', header=True)

In [35]:
s.to_csv('test2_withoutHeader.csv', header=False)

In [34]:
%cat 'test2_withHeader.csv'

,0
b,-0.42632768376617314
d,0.6922361750886928
e,-0.2979461394436114
a,-1.099227887239103
f,

In [36]:
%cat 'test2_withoutHeader.csv'

b,-0.42632768376617314
d,0.6922361750886928
e,-0.2979461394436114
a,-1.099227887239103
f,

In [345]:
v = pd.read_csv('test2.csv', header=None, index_col=0, squeeze=True)

In [346]:
v

0
b   -0.746683
d    0.604748
e   -0.793416
a   -0.728727
f         NaN
Name: 1, dtype: float64

In [347]:
pd.__version__

'0.21.0'

In [333]:
s

b   -0.746683
d    0.604748
e   -0.793416
a   -0.728727
f         NaN
dtype: float64

In [334]:
s.name

In [335]:
s.index

Index(['b', 'd', 'e', 'a', 'f'], dtype='object')

In [336]:
s.index.name

In [329]:
%cat 'test.csv'

b,-0.7466834419470187
d,0.6047479198867509
e,-0.7934155563499515
a,-0.7287269793229789
f,

In [71]:
pd.isnull(s)

b    False
d    False
e    False
a    False
f     True
dtype: bool

In [72]:
missingData = pd.isnull(s)
missingData

b    False
d    False
e    False
a    False
f     True
dtype: bool

In [73]:
s[missingData]

f   NaN
dtype: float64

In [75]:
s[pd.isnull(s)]

f   NaN
dtype: float64

In [76]:
s3[pd.notnull(s)]

b   -1.199596
d    0.759525
e   -0.097823
a    0.707569
dtype: float64

In [77]:
s.dropna()

b   -1.199596
d    0.759525
e   -0.097823
a    0.707569
dtype: float64

Operations on Series

In [78]:
s

b   -1.199596
d    0.759525
e   -0.097823
a    0.707569
f         NaN
dtype: float64

In [79]:
s * 2

b   -2.399191
d    1.519050
e   -0.195646
a    1.415137
f         NaN
dtype: float64

In [64]:
arr = np.array(np.random.randn(5))
arr

array([ 0.80646822, -1.09604946,  0.59641821, -0.68833751,  0.78790066])

In [65]:
arr[1:4]

array([-1.09604946,  0.59641821, -0.68833751])

In [66]:
s[1:4]

b   -1.199596
c    1.024974
d    0.759525
dtype: float64

In [58]:
s[0:3]

a    0.707569
b   -1.199596
c    1.024974
dtype: float64

In [59]:
s[:3]

a    0.707569
b   -1.199596
c    1.024974
dtype: float64

In [60]:
s[2:]

c    1.024974
d    0.759525
e   -0.097823
dtype: float64

In [61]:
s[-2:]

d    0.759525
e   -0.097823
dtype: float64

# DataFrame: 2D collection of Series

In [214]:
df = pd.DataFrame({'a': np.random.randn(6),
                   'b': ['foo', 'bar'] * 3,
                   'c': np.random.randint(1,5,6)})
df

          a    b  c
0 -0.410386  foo  3
1  0.184350  bar  3
2 -0.566654  foo  3
3  0.327290  bar  4
4  1.035219  foo  1
5  1.030554  bar  1

In [215]:
df['a']

0   -0.410386
1    0.184350
2   -0.566654
3    0.327290
4    1.035219
5    1.030554
Name: a, dtype: float64

In [216]:
df['b']

0    foo
1    bar
2    foo
3    bar
4    foo
5    bar
Name: b, dtype: object

In [217]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [218]:
df['d'] = range(6)

In [219]:
df

          a    b  c  d
0 -0.410386  foo  3  0
1  0.184350  bar  3  1
2 -0.566654  foo  3  2
3  0.327290  bar  4  3
4  1.035219  foo  1  4
5  1.030554  bar  1  5

In [220]:
df['e'] = 14
df

          a    b  c  d   e
0 -0.410386  foo  3  0  14
1  0.184350  bar  3  1  14
2 -0.566654  foo  3  2  14
3  0.327290  bar  4  3  14
4  1.035219  foo  1  4  14
5  1.030554  bar  1  5  14

In [221]:
df['e']  # a Series was created

0    14
1    14
2    14
3    14
4    14
5    14
Name: e, dtype: int64

In [222]:
df[['a', 'c', 'e']]

          a  c   e
0 -0.410386  3  14
1  0.184350  3  14
2 -0.566654  3  14
3  0.327290  4  14
4  1.035219  1  14
5  1.030554  1  14

This syntax only works for selecting columns

In [225]:
df['3']  # error

KeyError: '3'

In [226]:
df[3]  # also an error

KeyError: 3

In [227]:
df[1:4]

          a    b  c  d   e
1  0.184350  bar  3  1  14
2 -0.566654  foo  3  2  14
3  0.327290  bar  4  3  14

In [228]:
df[-2:]

          a    b  c  d   e
4  1.035219  foo  1  4  14
5  1.030554  bar  1  5  14

single row

In [229]:
df[2:3]

          a    b  c  d   e
2 -0.566654  foo  3  2  14

`.loc` and `.iloc`  
mnemonic  
`.loc` is **L**abel based  
`.iloc` is **I**nteger based

In [230]:
df.index = [10013, 10014, 2138, 10996, 96822, 99505]

In [231]:
df

              a    b  c  d   e
10013 -0.410386  foo  3  0  14
10014  0.184350  bar  3  1  14
2138  -0.566654  foo  3  2  14
10996  0.327290  bar  4  3  14
96822  1.035219  foo  1  4  14
99505  1.030554  bar  1  5  14

In [232]:
df.loc[10996]

a    0.32729
b        bar
c          4
d          3
e         14
Name: 10996, dtype: object

In [233]:
wp = df.loc[10996]

In [234]:
wp['b']

'bar'

In [235]:
wp['a']

0.3272903959553915

In [236]:
df.iloc[4]

a    1.03522
b        foo
c          1
d          4
e         14
Name: 96822, dtype: object

In [237]:
df.loc[10014:96822]  # label-based indexing has different slice rules - WYSIWYG

              a    b  c  d   e
10014  0.184350  bar  3  1  14
2138  -0.566654  foo  3  2  14
10996  0.327290  bar  4  3  14
96822  1.035219  foo  1  4  14

In [238]:
df.loc[10014:2138, 'a':'d']

              a    b  c  d
10014  0.184350  bar  3  1
2138  -0.566654  foo  3  2

In [239]:
df.loc[10996:99505, ['a','d','e']]

              a  d   e
10996  0.327290  3  14
96822  1.035219  4  14
99505  1.030554  5  14

In [241]:
df.at[96822,'d']

4

Boolean

In [242]:
df

              a    b  c  d   e
10013 -0.410386  foo  3  0  14
10014  0.184350  bar  3  1  14
2138  -0.566654  foo  3  2  14
10996  0.327290  bar  4  3  14
96822  1.035219  foo  1  4  14
99505  1.030554  bar  1  5  14

In [243]:
df['a'] > 0

10013    False
10014     True
2138     False
10996     True
96822     True
99505     True
Name: a, dtype: bool

In [244]:
gtz = df['a'] > 0

In [245]:
gtz

10013    False
10014     True
2138     False
10996     True
96822     True
99505     True
Name: a, dtype: bool

In [246]:
df[gtz]

              a    b  c  d   e
10014  0.184350  bar  3  1  14
10996  0.327290  bar  4  3  14
96822  1.035219  foo  1  4  14
99505  1.030554  bar  1  5  14

In [247]:
df[df['a']>0]

              a    b  c  d   e
10014  0.184350  bar  3  1  14
10996  0.327290  bar  4  3  14
96822  1.035219  foo  1  4  14
99505  1.030554  bar  1  5  14

In [248]:
df[df['c'] < 3]

              a    b  c  d   e
96822  1.035219  foo  1  4  14
99505  1.030554  bar  1  5  14

In [249]:
df.index

Int64Index([10013, 10014, 2138, 10996, 96822, 99505], dtype='int64')

In [250]:
df.columns

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [251]:
df = pd.DataFrame({'a': np.random.randn(1000),
                  'b': ['foo','bar'] * 500,
                  'c': np.random.randn(1000)},
                  index = pd.date_range('2016-02-01', periods=1000)
                 )

In [252]:
df

                   a    b         c
2016-02-01 -0.206609  foo  0.323559
2016-02-02  1.746318  bar -0.303434
2016-02-03 -1.644130  foo  0.294591
2016-02-04  0.761616  bar -1.310038
2016-02-05 -1.039940  foo  1.122474
2016-02-06  0.537659  bar -0.233993
2016-02-07  0.747792  foo -2.376315
2016-02-08 -0.275692  bar -0.895392
2016-02-09 -0.943870  foo  0.157170
2016-02-10 -0.808004  bar -0.142541
2016-02-11  0.333768  foo -0.418793
2016-02-12 -0.705812  bar  0.054869
2016-02-13 -0.267817  foo  0.489611
2016-02-14  0.807761  bar  0.414552
2016-02-15  0.340068  foo  1.939612
2016-02-16  1.089686  bar  2.013102
2016-02-17 -0.329047  foo -0.960437
2016-02-18 -0.562080  bar -0.881041
2016-02-19 -1.325569  foo -0.639808
2016-02-20 -1.428532  bar  2.280975
2016-02-21 -0.377603  foo -1.802093
2016-02-22  0.011235  bar  0.725608
2016-02-23  1.296906  foo -0.035843
2016-02-24 -0.228129  bar  1.189861
2016-02-25  0.966512  foo  0.505858
2016-02-26  2.173183  bar -0.996417
2016-02-27 -0.038693  foo -0.344582
2016-02-28 -0.198155  bar  0.441202
2016-02-29 -0.000007  foo -0.762133
2016-03-01  1.754643  bar  0.620625
...              ...  ...       ...
2018-09-28 -0.809817  foo -1.664764
2018-09-29  1.324979  bar  0.452869
2018-09-30  1.401363  foo  0.607577
2018-10-01 -1.481060  bar  1.156399
2018-10-02  1.249724  foo -0.038264
2018-10-03  0.981647  bar -0.585780
2018-10-04 -0.530701  foo -0.362377
2018-10-05 -1.170738  bar  2.307288
2018-10-06 -1.437952  foo  0.160492
2018-10-07 -0.391577  bar -0.366869
2018-10-08  0.648142  foo -0.807542
2018-10-09 -0.660106  bar -0.951575
2018-10-10 -1.733883  foo -2.269548
2018-10-11 -0.303003  bar  0.438633
2018-10-12  0.582266  foo -0.322566
2018-10-13 -1.717249  bar  0.530911
2018-10-14  0.065524  foo  0.275438
2018-10-15 -0.873325  bar -0.234270
2018-10-16 -0.868243  foo  0.279768
2018-10-17  0.544916  bar  0.737389
2018-10-18 -1.203655  foo  0.742210
2018-10-19 -0.905674  bar -0.683451
2018-10-20 -1.349166  foo -0.521530
2018-10-21 -0.103011  bar  1.017224
2018-10-22  0.155377  foo  1.939498
2018-10-23  2.539843  bar -0.693003
2018-10-24 -0.307807  foo -0.509260
2018-10-25 -0.730479  bar -0.306078
2018-10-26 -0.307414  foo  1.158930
2018-10-27 -1.086748  bar -0.708877

[1000 rows x 3 columns]

In [253]:
df['2018-10-01':]

                   a    b         c
2018-10-01 -1.481060  bar  1.156399
2018-10-02  1.249724  foo -0.038264
2018-10-03  0.981647  bar -0.585780
2018-10-04 -0.530701  foo -0.362377
2018-10-05 -1.170738  bar  2.307288
2018-10-06 -1.437952  foo  0.160492
2018-10-07 -0.391577  bar -0.366869
2018-10-08  0.648142  foo -0.807542
2018-10-09 -0.660106  bar -0.951575
2018-10-10 -1.733883  foo -2.269548
2018-10-11 -0.303003  bar  0.438633
2018-10-12  0.582266  foo -0.322566
2018-10-13 -1.717249  bar  0.530911
2018-10-14  0.065524  foo  0.275438
2018-10-15 -0.873325  bar -0.234270
2018-10-16 -0.868243  foo  0.279768
2018-10-17  0.544916  bar  0.737389
2018-10-18 -1.203655  foo  0.742210
2018-10-19 -0.905674  bar -0.683451
2018-10-20 -1.349166  foo -0.521530
2018-10-21 -0.103011  bar  1.017224
2018-10-22  0.155377  foo  1.939498
2018-10-23  2.539843  bar -0.693003
2018-10-24 -0.307807  foo -0.509260
2018-10-25 -0.730479  bar -0.306078
2018-10-26 -0.307414  foo  1.158930
2018-10-27 -1.086748  bar -0.708877

In [254]:
df['2018']

                   a    b         c
2018-01-01  0.030690  foo -1.008451
2018-01-02  0.508910  bar -0.106924
2018-01-03  0.183202  foo  2.659796
2018-01-04  0.303403  bar -0.980236
2018-01-05 -0.441486  foo -0.890667
2018-01-06 -1.621869  bar  1.388065
2018-01-07 -0.211784  foo -0.425100
2018-01-08 -1.473159  bar -0.214912
2018-01-09  0.214930  foo  1.923544
2018-01-10  0.175300  bar  1.080347
2018-01-11  0.677780  foo  0.198131
2018-01-12  0.302398  bar  1.646684
2018-01-13 -0.519326  foo -0.754825
2018-01-14 -1.069872  bar  0.541281
2018-01-15  2.635866  foo -0.268563
2018-01-16 -1.288234  bar -0.542111
2018-01-17 -0.316827  foo  0.289232
2018-01-18  0.522305  bar -0.503601
2018-01-19  1.182255  foo  0.327283
2018-01-20  2.336613  bar -0.374148
2018-01-21  0.698036  foo -0.680811
2018-01-22  1.089678  bar  0.648832
2018-01-23 -1.105030  foo -0.047291
2018-01-24  2.494396  bar -0.216488
2018-01-25  0.634144  foo  0.633959
2018-01-26 -0.700430  bar  0.817488
2018-01-27  0.988521  foo -1.814541
2018-01-28 -0.464625  bar  1.030472
2018-01-29  0.404905  foo  0.170913
2018-01-30 -0.786254  bar  1.119346
...              ...  ...       ...
2018-09-28 -0.809817  foo -1.664764
2018-09-29  1.324979  bar  0.452869
2018-09-30  1.401363  foo  0.607577
2018-10-01 -1.481060  bar  1.156399
2018-10-02  1.249724  foo -0.038264
2018-10-03  0.981647  bar -0.585780
2018-10-04 -0.530701  foo -0.362377
2018-10-05 -1.170738  bar  2.307288
2018-10-06 -1.437952  foo  0.160492
2018-10-07 -0.391577  bar -0.366869
2018-10-08  0.648142  foo -0.807542
2018-10-09 -0.660106  bar -0.951575
2018-10-10 -1.733883  foo -2.269548
2018-10-11 -0.303003  bar  0.438633
2018-10-12  0.582266  foo -0.322566
2018-10-13 -1.717249  bar  0.530911
2018-10-14  0.065524  foo  0.275438
2018-10-15 -0.873325  bar -0.234270
2018-10-16 -0.868243  foo  0.279768
2018-10-17  0.544916  bar  0.737389
2018-10-18 -1.203655  foo  0.742210
2018-10-19 -0.905674  bar -0.683451
2018-10-20 -1.349166  foo -0.521530
2018-10-21 -0.103011  bar  1.017224
2018-10-22  0.155377  foo  1.939498
2018-10-23  2.539843  bar -0.693003
2018-10-24 -0.307807  foo -0.509260
2018-10-25 -0.730479  bar -0.306078
2018-10-26 -0.307414  foo  1.158930
2018-10-27 -1.086748  bar -0.708877

[300 rows x 3 columns]

In [255]:
df['2017-Jan']

                   a    b         c
2017-01-01 -0.608712  bar  1.282667
2017-01-02  0.618952  foo  1.009722
2017-01-03 -0.753154  bar  0.209362
2017-01-04 -0.626598  foo  0.621753
2017-01-05 -0.414791  bar -0.470213
2017-01-06 -0.244048  foo  0.496903
2017-01-07 -0.947467  bar -0.806496
2017-01-08  1.066738  foo -2.183260
2017-01-09  0.828394  bar -1.227238
2017-01-10 -1.714141  foo -0.942596
2017-01-11 -0.161595  bar -0.145006
2017-01-12  0.185469  foo -0.526189
2017-01-13  0.604761  bar -0.174330
2017-01-14  1.269581  foo  0.915113
2017-01-15 -0.793364  bar  1.831282
2017-01-16  0.423776  foo  1.056549
2017-01-17  0.662080  bar  0.612670
2017-01-18 -0.207660  foo  1.336868
2017-01-19  0.607944  bar -0.296348
2017-01-20 -0.094434  foo -0.803247
2017-01-21 -0.379938  bar -1.512151
2017-01-22 -0.674254  foo -1.120322
2017-01-23 -1.569783  bar -1.619072
2017-01-24  0.540622  foo  1.479249
2017-01-25  0.029717  bar -0.267527
2017-01-26 -0.850507  foo  0.840535
2017-01-27  1.327984  bar  1.984264
2017-01-28  0.342304  foo -0.793229
2017-01-29 -1.240689  bar -0.533794
2017-01-30  1.021517  foo  0.822492
2017-01-31  0.582340  bar -0.307576

In [256]:
df['2018-1':'2018-Mar']

                   a    b         c
2018-01-01  0.030690  foo -1.008451
2018-01-02  0.508910  bar -0.106924
2018-01-03  0.183202  foo  2.659796
2018-01-04  0.303403  bar -0.980236
2018-01-05 -0.441486  foo -0.890667
2018-01-06 -1.621869  bar  1.388065
2018-01-07 -0.211784  foo -0.425100
2018-01-08 -1.473159  bar -0.214912
2018-01-09  0.214930  foo  1.923544
2018-01-10  0.175300  bar  1.080347
2018-01-11  0.677780  foo  0.198131
2018-01-12  0.302398  bar  1.646684
2018-01-13 -0.519326  foo -0.754825
2018-01-14 -1.069872  bar  0.541281
2018-01-15  2.635866  foo -0.268563
2018-01-16 -1.288234  bar -0.542111
2018-01-17 -0.316827  foo  0.289232
2018-01-18  0.522305  bar -0.503601
2018-01-19  1.182255  foo  0.327283
2018-01-20  2.336613  bar -0.374148
2018-01-21  0.698036  foo -0.680811
2018-01-22  1.089678  bar  0.648832
2018-01-23 -1.105030  foo -0.047291
2018-01-24  2.494396  bar -0.216488
2018-01-25  0.634144  foo  0.633959
2018-01-26 -0.700430  bar  0.817488
2018-01-27  0.988521  foo -1.814541
2018-01-28 -0.464625  bar  1.030472
2018-01-29  0.404905  foo  0.170913
2018-01-30 -0.786254  bar  1.119346
...              ...  ...       ...
2018-03-02 -0.589288  foo  0.249457
2018-03-03  0.038154  bar  0.128688
2018-03-04 -0.534511  foo  0.749451
2018-03-05  0.399030  bar -0.211787
2018-03-06 -0.017007  foo -0.768947
2018-03-07  1.541456  bar  1.289790
2018-03-08 -0.698344  foo  0.342365
2018-03-09  0.068333  bar -2.157756
2018-03-10 -0.014665  foo -0.377637
2018-03-11 -0.424115  bar  1.502330
2018-03-12  0.189144  foo -0.201358
2018-03-13 -1.375391  bar  0.010949
2018-03-14  0.222320  foo -0.316403
2018-03-15  0.517290  bar -0.133643
2018-03-16  1.513724  foo -0.674973
2018-03-17 -1.251409  bar  0.262328
2018-03-18  0.571236  foo -2.437651
2018-03-19 -0.564635  bar  1.151178
2018-03-20  1.478175  foo -0.519553
2018-03-21 -1.371642  bar -0.134846
2018-03-22  1.857542  foo  0.889065
2018-03-23  0.698099  bar -2.067305
2018-03-24  0.122873  foo  1.464292
2018-03-25  0.655648  bar  0.023501
2018-03-26  1.175866  foo -0.122389
2018-03-27 -1.486218  bar -1.231024
2018-03-28  0.378404  foo -0.960621
2018-03-29 -0.503728  bar -1.170875
2018-03-30 -1.147969  foo -2.317868
2018-03-31  0.725287  bar  0.270946

[90 rows x 3 columns]

# Data Alignment

In [182]:
close_px = pd.read_csv('stock_data.csv', index_col = 0, parse_dates=True)

In [183]:
close_px.head()

               AA    AAPL     GE     IBM    JNJ   MSFT    PEP      SPX    XOM
2007-10-29  37.41  185.09  34.46  106.78  57.13  31.78  65.67  1540.98  85.51
2007-10-30  36.43  187.00  34.39  106.15  56.99  32.70  65.80  1531.02  83.25
2007-10-31  36.79  189.95  34.97  108.01  57.30  33.84  65.69  1549.38  84.03
2007-11-01  35.22  187.44  34.27  105.72  56.85  34.07  64.51  1508.44  80.84
2007-11-02  35.83  187.87  34.27  106.59  56.95  34.07  65.03  1509.65  80.32

In [191]:
close_px.sample(15)

               AA    AAPL     GE     IBM    JNJ   MSFT    PEP      SPX    XOM
2010-01-19  15.39  215.04  15.70  129.95  61.47  29.90  59.13  1150.23  66.28
2008-04-23  33.00  162.89  27.98  115.82  59.90  29.12  62.29  1379.93  86.77
2011-03-30  17.57  348.63  19.76  162.17  58.35  25.28  64.06  1328.26  83.46
2010-07-22  10.71  259.02  14.62  124.68  54.54  25.07  61.82  1093.67  57.57
2010-05-06  11.82  246.25  16.53  121.21  60.09  27.99  61.82  1128.15  61.53
2009-01-09  10.34   90.58  14.45   80.45  53.74  18.34  48.30   890.35  72.54
2011-05-19  16.63  340.53  19.61  169.85  65.24  24.56  70.69  1343.60  81.79
2007-11-23  32.66  171.54  32.01   97.13  59.16  31.46  67.29  1440.70  80.96
2008-11-04  11.77  110.99  18.40   88.22  55.86  21.96  53.18  1005.75  72.05
2008-11-19   7.81   86.29  12.80   72.16  52.46  17.18  47.50   806.58  68.66
2009-01-06  11.60   93.02  15.23   84.75  54.32  19.50  51.18   934.70  75.09
2011-09-19  11.58  411.63  16.18  173.13  64.14  27.21  60.56  1204.09  73.70
2011-02-15  17.33  359.90  20.94  161.41  59.03  26.62  62.89  1328.01  81.96
2008-01-08  28.81  171.25  30.33   91.10  59.22  30.85  69.79  1390.19  82.58
2009-05-15   8.85  122.42  11.95   97.31  50.85  19.12  46.64   882.88  65.34

In [184]:
close_px.describe()

,AA,AAPL,GE,IBM,JNJ,MSFT,PEP,SPX,XOM
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,17.138190,217.386950,18.362250,122.687010,58.228900,24.947840,59.607930,1153.729090,71.513700
std,9.108915,90.627523,6.168905,26.797665,4.515169,3.746426,6.531849,183.562134,8.131698
min,5.100000,78.200000,6.190000,68.140000,42.760000,14.330000,42.460000,676.530000,54.850000
25%,11.027500,142.965000,14.690000,102.200000,55.867500,23.570000,56.535000,1048.495000,65.065000
50%,13.470000,193.970000,16.085000,120.340000,58.960000,25.375000,61.720000,1165.770000,70.905000
75%,17.427500,302.777500,20.282500,137.597500,61.110000,27.250000,63.785000,1306.157500,79.222500
max,41.860000,422.000000,34.970000,190.530000,67.320000,34.070000,71.250000,1549.380000,87.480000

In [190]:
np.shape(close_px)

(1000, 9)

In [196]:
subset = close_px.loc['2008-01-01':'2009-12-31', ['AAPL', 'IBM', 'MSFT']]

In [197]:
subset

              AAPL     IBM   MSFT
2008-01-02  194.84   97.73  32.49
2008-01-03  194.93   97.92  32.62
2008-01-04  180.05   94.40  31.71
2008-01-07  177.64   93.39  31.92
2008-01-08  171.25   91.10  30.85
2008-01-09  179.40   91.77  31.77
2008-01-10  178.02   93.27  31.67
2008-01-11  172.69   91.17  31.28
2008-01-14  178.78   96.08  31.72
2008-01-15  169.04   95.06  31.36
2008-01-16  159.64   94.87  30.65
2008-01-17  160.89   94.37  30.54
2008-01-18  161.36   96.52  30.45
2008-01-22  155.64   94.49  29.48
2008-01-23  139.07   99.04  29.45
2008-01-24  135.60   99.80  30.67
2008-01-25  130.01   97.57  30.38
2008-01-28  130.01   98.00  30.18
2008-01-29  131.54   99.04  30.07
2008-01-30  132.18   98.62  29.70
2008-01-31  135.36   99.99  30.07
2008-02-01  133.75  101.82  28.09
2008-02-04  131.65  100.75  27.85
2008-02-05  129.36   98.03  26.81
2008-02-06  122.00   97.07  26.31
2008-02-07  121.24   95.90  25.94
2008-02-08  125.48   96.77  26.34
2008-02-11  129.45   98.52  26.02
2008-02-12  124.86   99.82  26.14
2008-02-13  129.40  101.59  26.71
...            ...     ...    ...
2009-11-18  205.96  124.15  28.95
2009-11-19  200.51  123.56  28.63
2009-11-20  199.92  123.00  28.48
2009-11-23  205.88  124.20  28.79
2009-11-24  204.44  123.94  28.76
2009-11-25  204.19  123.31  28.64
2009-11-27  200.59  121.78  28.09
2009-11-30  199.91  122.41  28.28
2009-12-01  196.97  123.95  28.85
2009-12-02  196.23  123.24  28.63
2009-12-03  196.48  123.57  28.68
2009-12-04  193.32  123.28  28.82
2009-12-07  188.95  123.07  28.64
2009-12-08  189.87  122.84  28.43
2009-12-09  197.80  124.38  28.56
2009-12-10  196.43  125.30  28.72
2009-12-11  194.67  125.63  28.70
2009-12-14  196.98  125.87  28.95
2009-12-15  194.17  124.48  28.86
2009-12-16  195.03  124.69  28.94
2009-12-17  191.86  123.42  28.46
2009-12-18  195.43  123.92  29.19
2009-12-21  198.23  124.63  29.34
2009-12-22  200.36  125.87  29.63
2009-12-23  202.10  125.94  29.73
2009-12-24  209.04  126.49  29.80
2009-12-28  211.61  128.18  29.97
2009-12-29  209.10  127.73  30.18
2009-12-30  211.64  128.43  29.77
2009-12-31  210.73  126.81  29.30

[505 rows x 3 columns]

In [205]:
subset.at[pd.to_datetime('2009-12-24'), 'AAPL']

209.04

In [261]:
s1 = close_px['AAPL'][-20:]
s2 = close_px['AAPL'][-25:-5]

In [262]:
s1

2011-09-19    411.63
2011-09-20    413.45
2011-09-21    412.14
2011-09-22    401.82
2011-09-23    404.30
2011-09-26    403.17
2011-09-27    399.26
2011-09-28    397.01
2011-09-29    390.57
2011-09-30    381.32
2011-10-03    374.60
2011-10-04    372.50
2011-10-05    378.25
2011-10-06    377.37
2011-10-07    369.80
2011-10-10    388.81
2011-10-11    400.29
2011-10-12    402.19
2011-10-13    408.43
2011-10-14    422.00
Name: AAPL, dtype: float64

In [263]:
s2

2011-09-12    379.94
2011-09-13    384.62
2011-09-14    389.30
2011-09-15    392.96
2011-09-16    400.50
2011-09-19    411.63
2011-09-20    413.45
2011-09-21    412.14
2011-09-22    401.82
2011-09-23    404.30
2011-09-26    403.17
2011-09-27    399.26
2011-09-28    397.01
2011-09-29    390.57
2011-09-30    381.32
2011-10-03    374.60
2011-10-04    372.50
2011-10-05    378.25
2011-10-06    377.37
2011-10-07    369.80
Name: AAPL, dtype: float64

In [264]:
s1 + s2

2011-09-12       NaN
2011-09-13       NaN
2011-09-14       NaN
2011-09-15       NaN
2011-09-16       NaN
2011-09-19    823.26
2011-09-20    826.90
2011-09-21    824.28
2011-09-22    803.64
2011-09-23    808.60
2011-09-26    806.34
2011-09-27    798.52
2011-09-28    794.02
2011-09-29    781.14
2011-09-30    762.64
2011-10-03    749.20
2011-10-04    745.00
2011-10-05    756.50
2011-10-06    754.74
2011-10-07    739.60
2011-10-10       NaN
2011-10-11       NaN
2011-10-12       NaN
2011-10-13       NaN
2011-10-14       NaN
Name: AAPL, dtype: float64

In [266]:
(s1 + s2).dropna()

2011-09-19    823.26
2011-09-20    826.90
2011-09-21    824.28
2011-09-22    803.64
2011-09-23    808.60
2011-09-26    806.34
2011-09-27    798.52
2011-09-28    794.02
2011-09-29    781.14
2011-09-30    762.64
2011-10-03    749.20
2011-10-04    745.00
2011-10-05    756.50
2011-10-06    754.74
2011-10-07    739.60
Name: AAPL, dtype: float64

In [265]:
s1.add(s2, fill_value=0)

2011-09-12    379.94
2011-09-13    384.62
2011-09-14    389.30
2011-09-15    392.96
2011-09-16    400.50
2011-09-19    823.26
2011-09-20    826.90
2011-09-21    824.28
2011-09-22    803.64
2011-09-23    808.60
2011-09-26    806.34
2011-09-27    798.52
2011-09-28    794.02
2011-09-29    781.14
2011-09-30    762.64
2011-10-03    749.20
2011-10-04    745.00
2011-10-05    756.50
2011-10-06    754.74
2011-10-07    739.60
2011-10-10    388.81
2011-10-11    400.29
2011-10-12    402.19
2011-10-13    408.43
2011-10-14    422.00
Name: AAPL, dtype: float64

# Function Application

In [273]:
df = subset[-10:]
df

              AAPL     IBM   MSFT
2009-12-17  191.86  123.42  28.46
2009-12-18  195.43  123.92  29.19
2009-12-21  198.23  124.63  29.34
2009-12-22  200.36  125.87  29.63
2009-12-23  202.10  125.94  29.73
2009-12-24  209.04  126.49  29.80
2009-12-28  211.61  128.18  29.97
2009-12-29  209.10  127.73  30.18
2009-12-30  211.64  128.43  29.77
2009-12-31  210.73  126.81  29.30

In [272]:
df.apply(np.mean)  # function applied to columns

AAPL    204.010
IBM     126.142
MSFT     29.537
dtype: float64

In [274]:
subset.mean()  # functions built-in

AAPL    144.391782
IBM     104.287446
MSFT     23.325842
dtype: float64

In [275]:
df.apply(np.mean, axis=1)

2009-12-17    114.580000
2009-12-18    116.180000
2009-12-21    117.400000
2009-12-22    118.620000
2009-12-23    119.256667
2009-12-24    121.776667
2009-12-28    123.253333
2009-12-29    122.336667
2009-12-30    123.280000
2009-12-31    122.280000
dtype: float64

In [282]:
df.mean(1)

2009-12-17    114.580000
2009-12-18    116.180000
2009-12-21    117.400000
2009-12-22    118.620000
2009-12-23    119.256667
2009-12-24    121.776667
2009-12-28    123.253333
2009-12-29    122.336667
2009-12-30    123.280000
2009-12-31    122.280000
dtype: float64

In [278]:
close_px.AAPL.idxmax()

Timestamp('2011-10-14 00:00:00')

In [ ]:
def peak_date(s):
    return s.idxmax()

In [281]:
peak_date(close_px['MSFT'])

Timestamp('2007-11-01 00:00:00')

In [279]:
close_px.apply(peak_date)  # Applied down the columns

AA     2008-05-19
AAPL   2011-10-14
GE     2007-10-31
IBM    2011-10-14
JNJ    2011-07-07
MSFT   2007-11-01
PEP    2008-01-10
SPX    2007-10-31
XOM    2008-05-20
dtype: datetime64[ns]